html, body{
    background-color: rgb(0, 0, 24);
}

.wrapper{
    max-width:900px;
    padding:50px;
    margin-left: auto;
    margin-right:auto;
}

.expander{
    transition:transform ease .4s;

    height:20px;
    cursor: pointer;
    margin-right:10px;
}

.expander.expanded{
    transform: rotate(90deg);
}

tr{
    transition:all ease .4s;
    transform-origin: 50% 0;
    visibility: visible;
    opacity: 1;
}

td{
    cursor: auto!important;
}

.collapsed{
    transform: scaleY(0);
    visibility: collapse;
    opacity: 0;
}

.space-block{
    width:20px;
    display: inline-block;
}

.no-click {
    pointer-events: none;
} 

.edit-input{
    flex:0.8;
}
.edit-buttons{
    border-radius: 1rem;
    margin-left:8px;
    flex: 0.1;
}